<%= form_with(model: extra_service, local: true) do |form| %>
  <% if extra_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(extra_service.errors.count, "error") %> prohibited this extra_service from being saved:</h2>

      <ul>
      <% extra_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reservation_id %>
    <%= form.text_field :reservation_id, id: :extra_service_reservation_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :extra_service_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
