<%= form_with(model: supply_movement, local: true) do |form| %>
  <% if supply_movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supply_movement.errors.count, "error") %> prohibited this supply_movement from being saved:</h2>

      <ul>
      <% supply_movement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :supply_id %>
    <%= form.text_field :supply_id, id: :supply_movement_supply_id %>
  </div>

  <div class="field">
    <%= form.label :appartment_id %>
    <%= form.text_field :appartment_id, id: :supply_movement_appartment_id %>
  </div>

  <div class="field">
    <%= form.label :movement %>
    <%= form.number_field :movement, id: :supply_movement_movement %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
