<p id="notice"><%= notice %></p>

<h1>Supply Movements</h1>

<table>
  <thead>
    <tr>
      <th>Supply</th>
      <th>Appartment</th>
      <th>Movement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supply_movements.each do |supply_movement| %>
      <tr>
        <td><%= supply_movement.supply %></td>
        <td><%= supply_movement.appartment %></td>
        <td><%= supply_movement.movement %></td>
        <td><%= link_to 'Show', supply_movement %></td>
        <td><%= link_to 'Edit', edit_supply_movement_path(supply_movement) %></td>
        <td><%= link_to 'Destroy', supply_movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supply Movement', new_supply_movement_path %>
