<p id="notice"><%= notice %></p>

<h1>Janitors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @janitors.each do |janitor| %>
      <tr>
        <td><%= janitor.name %></td>
        <td><%= link_to 'Show', janitor %></td>
        <td><%= link_to 'Edit', edit_janitor_path(janitor) %></td>
        <td><%= link_to 'Destroy', janitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Janitor', new_janitor_path %>
