<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reservation.user %>
</p>

<p>
  <strong>Appartment:</strong>
  <%= @reservation.appartment %>
</p>

<p>
  <strong>Starting date:</strong>
  <%= @reservation.starting_date %>
</p>

<p>
  <strong>Ending date:</strong>
  <%= @reservation.ending_date %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @reservation.total_cost %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @reservation.paid %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
